[Desktop Entry]
Type=Application
Name=Logitech Onboard Memory Manager
GenericName=Mouse onboard memory utility
Comment=Run Logitech Onboard Memory Manager through Wine
Exec=omme
Terminal=false
Categories=Settings;HardwareSettings;
